@model INTEX2.Models.Mummy

@{
    ViewData["Title"] = "Add Mummy";
}

<h1>Add a Mummy</h1>

<form method="post" action="Add_mummy">
    @Html.AntiForgeryToken()
    <div style="max-width: 50% !important">
        <div class="form-group">
            @foreach (var prop in typeof(Mummy).GetProperties())
            {
                if (prop.Name == "id")
                {
                    <input asp-for="@prop.Name" class="form-control" value="" type="hidden" />
                }
                else
                {
                    <label asp-for="@prop.Name" class="control-label">@prop.Name</label>
                    <input name="@prop.Name" class="form-control" value="" />
                    <span asp-validation-for="@prop.Name" class="text-danger"></span>
                }
            }
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>


