@model INTEX2.Models.Mummy

@{
    ViewData["Title"] = "Add Mummy";
}

<h1>Add a Mummy</h1>
<div asp-validation-summary="All"></div>
<form method="post" action="Add_mummy">
    @Html.AntiForgeryToken()

    <div class="form-group">
        
        @foreach (var prop in typeof(Mummy).GetProperties())
        {
            if (prop.Name == "id")
            {
                <input asp-for="@prop.Name" class="form-control" value="" type="hidden" />
            }
            else
            {
                <label asp-for="@prop.Name" class="control-label">@prop.Name</label>
                <input name="@prop.Name" class="form-control" value="" />
                
            }
        }
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>


